/api/vendor
/api/.env
/api/.env.production
/client/node_modules
/client/dist
/client/.env.production
/scripts/
.DS_Store
deploy.php
release.zip
migrations.zipapi/storage/framework/views/
api/storage/
*.sqlite
nul
